{% extends "blog/base.html" %}
{% block context %}

<h1>Welcome to about</h1>
<div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="parthaprateem"><a class="LI-simple-link" href='https://in.linkedin.com/in/parthaprateem?trk=profile-badge' >Partha Prateem Patra</a></div>
<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
{% endblock context %}

